@tailwind base;

@layer base {
    @view-transition {
        navigation: auto;
    }

    :root {
        color-scheme: light dark;
    }

    [x-cloak] {
        display: none !important;
    }

    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth text-pretty bg-background text-foreground-subtle antialiased;
    }

    iframe {
        color-scheme: light;
    }

    img {
        @apply object-cover;
    }

    mark {
        @apply rounded-sm bg-brand p-1 text-brand-subtle;
    }
}
