# Build directory
assets

# Ghost
ghost
logs
pids
results

# OS-specific files
.DS_Store

# Package manager files
node_modules
npm-debug.log

# Sensitive files
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.zip
b-cov

# Unlighthouse
.unlighthouse
