{{!< default}}

<div class="py-18 px-6">
    <header class="max-w-[45rem] text-center text-balance">
        <div class="px-6 py-18 bg-gradient-to-b from-background-subtle to-transparent rounded-xl">
            <h1 class="text-h4 font-medium text-foreground leading-tight">
                {{t "We write about current software and standards" }}
            </h1>
            <h2 class="mt-6 text-h6">
                {{t "Aggregata is a platform for the web, applications, and machine learning, which discusses current trends and topics." }}
            </h2>
        </div>
    </header>

    <main class="mt-18 max-w-[45rem]">
        <section class="space-y-12">
            {{#foreach posts}}
                <hr>
                {{> post page=../pagination.page }}
            {{/foreach}}
            {{ pagination }}
        </section>
    </main>
</div>