*[class^='iconoir-']::before {
    width: 1rem !important;
    height: 1rem !important;
}

ins {
    display: block;
    overflow: hidden;
}

ins,
ins div,
ins div iframe {
    background: var(--background);
    width: 100% !important;
}
