{{!< default}}

<main class="grid grow py-18 px-6 w-full">
    <div
        class="w-full grid justify-items-center content-center max-w-[45rem] mx-auto bg-gradient-to-b from-background-subtle to-transparent rounded-xl py-18 px-6">
        <h1 class="text-h4 font-medium text-foreground leading-tight">
            {{ statusCode }}
        </h1>
        <h2 class="mt-3 text-balance">
            {{message}}
        </h2>

        <a class="mt-6 button-primary" href="{{ @site.url }}">
            {{> icon icon="arrow-left" }}
            {{t "Back to homepage" }}
        </a>
    </div>
</main>